extends layout

block content
  script(src='/js/jquery.colorPicker.min.js')
  link(rel='stylesheet', href='stylesheets/literally.css')
  script(src='/js/literallycanvas.jquery.js')


  div(class='container-fluid')
    form#addDrawing(name="sendImage",method="post",action="/draw/sendImage")
      div(class='row')
        div(class='col-xs-12')
          img(class="circular-med" src=user.picture) 
          h3(class="inlineText")  is drawing a 
          span(style="display:inline-block; width: 600px;" )
            if description
              input(class='form-control' type='text' id='title-text' name='description' value=description)
            else
              input(class='form-control' type='text' id='title-text' name='description' value='something' onclick="if (this.value == 'something') {this.value = '';}")
        
      div(class="row literally section")
        canvas

      input(type='hidden' name='image')
      input(type='hidden' name='request' value=request)
      input(type='hidden' name='convoID' value=convoID)
      input(type='hidden' name='sendTo')

      div(class="row recpPicker section")
        h3(style="margin:0;") Drawing for:
        div#send-to
          #noRecErr(style="display: none; color: red;") Please choose at least 1 recipient!

        button(type='submit' class='button btn-primary btn-lg btn-block' data-action="publish" value='Send')
          span(class='glyphicon glyphicon-send')

      
      div(class='row section')
        

  != "<script type='text/javascript'>"
  != "var rcpnts = [];"
  each m in members
    if m._id != user._id
      != "console.log('found member');"
      != "var member_img = document.createElement('img');"
      != "member_img.src = '" + m.picture + "';"
      != "$(member_img).addClass('circular-small');"
      if rcpnt && m._id == rcpnt
        != "rcpnts.push('" + rcpnt + "');"
        != "member_img.style.opacity = 1;"
      != "$('#send-to').append(member_img);"
      != "member_img.onclick = function(){"
        != "if(this.style.opacity == 1){"
          != "this.style.opacity = .5;"
          != "rcpnts.splice(rcpnts.indexOf('"+ m._id +"'), 1);" 
        != "} else {"
          != "this.style.opacity = 1;"
          != "rcpnts.push('"+ m._id + "');"
        != "}"
        != "console.log(rcpnts);"
      != "};"
  != "</script>"


  script(type='text/javascript').
    var preloadedImg = new Image()
    preloadedImg.src = '#{background}'

    $('.row.literally,section').literallycanvas({imageURLPrefix: 'images/icons', watermarkImage: preloadedImg,
    onInit: function(lc) { 
      $('[data-action=publish]').click(function(e) {
        if (rcpnts.length){
          var img = lc.canvasForExport().toDataURL()
          $('#addDrawing').find('input[name=image]').val( img )
          var rcpntsStr = rcpnts.toString();
          $('#addDrawing').find('input[name=sendTo]').val (rcpnts);
        } else {
          document.getElementById('noRecErr').style.display = "block";
          e.preventDefault();        
        }
    })}})
  
      
      
      

