extends layout

block content
  form(action="/draw")
    input(class="menu_button" type="submit" value="Draw")
  form(action="/requestDrawing")
    input(class="menu_button" type="submit" value="Request")
  div(id="requests-div")
  p Recently Drawn Images

  .container
    if drawings.length
      each drawing in drawings
        .drawing-box
          if drawing.From
            img.circular-med(src='#{drawing.From.Picture}')
            span.inlineText drew #{drawing.Description}
          if drawing.To
            span.inlineText for
              img.circular-small(src='#{drawing.To.Picture}')
          img(src='#{drawing.URL}')
          .subheading
            span.bold
              = drawing.title
            form(name="draw" method="post" action="/draw")
              input(type="hidden" name='img' value='#{drawing.URL}')
              input(type="hidden" name='detail' value='#{drawing.Description}')
              input(type="submit" value="Add To Drawing")
            
    else 
      p No drawings found
